#__fixed {
    transition: ease all 300ms ;
    &.scroll{
        background-color: $white;
        padding: 1rem;
        z-index: 90;
        box-shadow: $box-shadow;
        border-radius: $border-radius;
    }
}
.dropify-wrapper .dropify-message span.file-icon {
    font-size: 20px !important;
}
.loader-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background:   linear-gradient(white, white);
    z-index: 9999;
    height: 100vh;
}
.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
}
.loader::before,
.loader::after {
    content:"";
    grid-area: 1/1;
    --c:no-repeat radial-gradient(farthest-side,#25b09b 92%,#0000);
    background:
        var(--c) 50%  0,
        var(--c) 50%  100%,
        var(--c) 100% 50%,
        var(--c) 0    50%;
    background-size: 12px 12px;
    animation: l12 1s infinite;
}
.loader::before {
    margin: 4px;
    filter: hue-rotate(45deg);
    background-size: 8px 8px;
    animation-timing-function: linear
}

@keyframes l12 {
    100%{transform: rotate(.5turn)}
}
